@model NSE.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "An error has occurred";
}

@if (Model == null)
{
    <div>
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    </div>
}
else
{
    ViewData["Title"] = Model.Title;
    <div>
        <h2>@Html.Raw(Model.Message)</h2>
    </div>
}